*{
    margin:0;
    padding: 0;
    
}


.boxdisplay{
    
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}

.content_footer{
    flex-basis: calc(33.3% - 20px);
    border: 2px solid #fff;
    border-radius: 15px;
    padding: 10px;
}

